
body {
    background-color: #787c3f;
}

h1{
    color: #ffeb3b;
    text-align: center;
}

h2 {
    color: #FFFFFF;
}

#logo {
    width: 30%;
    padding: 25px;
}

.moldura{
    border: 2px solid black;
}

.sublinhado{
    text-decoration: underline;
}

#topo{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.america{
    background-image: url("../images/america_do_sul.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
}