<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem-vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Esse é um programa que gerencia ações/shares de mercado.
    </mat-card-subtitle>
</mat-card>

<div class="container">
    <h4>SOBRE A APLICAÇÃO</h4>
    <p>Nessa aplicação o usuário pode gerenciar suas ações simulando operações de compra e venda.</p>
    <p>O que esse aplicação faz:</p>
        <ul>
            <li>CADASTRAR UMA AÇÃO</li>
            <li>LISTAR AÇÕES</li>
            <li>MOSTRAR DETALHES DA OPERAÇÃO</li>
            <li>FILTRAR UMA LISTA DE AÇÕES POR CÓDIGO</li>
        </ul>
</div>
