<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem-vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Essa é minha primeira aplicação construída com o framework angular.
    </mat-card-subtitle>
</mat-card>

<div class="container">
    <h3>SOBRE ESSA APLICAÇÃO</h3>
    <p>Essa página foi construída parar colocar os meus conhecimentos em angular em prática. Aprendi muito com o curso da COD3R <strong>"Angular Essencial"</strong>  e também com o curso da Udemy  <strong> "Angular The complete Guide - 2022"</strong>.</p>
    <p>Também aprendi muito com o curso de Java da Udemy proporcionado pelo professor <strong>Dr. Nelio Alves</strong> e por isso o sistema back-end foi construído em <strong>Java</strong> utilizando o <strong>Spring</strong>. Utilizei o JPA para realizar a interção com o banco de dados.</p>
    <p>O sistema conta com duas entidades: Product e Pet. Por enquanto, está sendo utilizando o banco de dados em memória H2, mas pretendo implementar para um banco de dados como postegres/MysQL.</p>
</div>
